body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.intro {
  font-size: 14px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background: #34495e;
}

nav button {
  background: none;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
}

nav button:hover {
  background: #1abc9c;
}

main {
  padding: 20px;
}

.aba {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.aba.ativa {
  display: block;
}
